const config = {
    BOT_TOKEN: {
        live: '',
        dev: ''
    },
    db: {
        host: '',
        user: '',
        password: '',
        database: '',
		charset: ''
    },
    server: {
        servername: 'serverid'
    },
    DEV_MODE: 0, // dev server
    ADMIN_MODE: 0 // only admins can run commands
};

module.exports = config;
